$bg: #F9FAFC;
$f12: 12px;
$f14: 14px;
$f16: 16px;
$f18: 18px;
$f20: 20px;
$f22: 22px;
$f24: 24px;
$f26: 26px;
$f28: 28px;
$f30: 30px;
$f32: 32px;
$review-color: #67C23A;
$unReviewed-color: #909399;
$reject-color: #F56C6C;


